ion-content{
  --background: #121212;
 .container{
  margin-left: 650px;
  margin-top: 150px;
  color: #fff;
  display: flex;
  width: 30%;
  flex-direction: column;
  transform: scale(1.5);

  button{
    width: 10%;
    height: 30px;
  }

  input{
    background-color: #121212;
    border: 1px solid #fff;
    margin-right: 10px;
    margin-bottom: 13px;
    color: #fff;
    width: 50%;
    padding: 4px;
  }
 }
}
